@media (max-width: 1500px) {
    // HOME PAGE
    .section-home-3 {
        background-image: none;
    }
    .section-home-3 img {
        display:block;
    }
    .list-wrapper {
        width:100%;
        margin: 50px 10px;
        padding: 80px;
    }
    .section-four:before {
        border-top: 1px solid rgba(51, 51, 51, 0.3);
        height: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .section-5-text button {
        width: 30%;
        margin-bottom: 60px;
    }
}
@media (max-width: 1000px) {
    // HOME PAGE
    .team-container li:first-of-type {
        padding: 10px 10px 5px 10px ;
    }
    .twitter-w input[type="email"] {
        padding: 10px 10px;
    }
    .footer {
        flex-direction: column;
    }
    .footer-contact,
    .footer-recent-p,
    .twitter-w {
        margin-bottom: 30px;
    }
    .footer-contact,
    .footer-recent-p li,
    .twitter-w h2,
    .twitter-w p{
        text-align: center;
    }
    .footer-recent-p ul {
        list-style: none;
    }
    .social ul {
        width: 50%;
        margin: 10px auto;
    }
}
@media (max-width: 850px) {
    // HOME PAGE
    section {
        padding: 40px 0;
    }
    .fa-bars  {
        display: inline-block;
    }
    nav ul {
        width: 100%;
    }
    .nav-one,
    .nav-text {
        display:none;
    }
    .section-home-1:before {
        display: none;
    }
    .image-container-home img[src="./assets/home-circle-text.png"] {
        bottom:150px;
    }
    .home-section-2-container li {
        margin: 0 30px;
    }
    .list-wrapper {
        padding: 10px;
    }
    .team-container li {
        width:calc(100% / 3.5 - 2px);
    }
    .team-container li:first-of-type {
        width: 90%;
        padding: 50px 10px 30px 0px;
    }
    .home-portfolio {
        flex-direction: column;
    }
    .section-5-text,
    .home-portfolio img  {
        width:100%;
    }
    .section-5-text {
        margin-top: 60px;
    }
    
    // CONTACT PAGE 
    .contact-container {
        flex-direction: column;
    }
    .contact-line-top {
        top: 40px;
    }
    .contact-h3-container {
        width: 100%;
        top: 50px;
    }
    .contact-details {
        width: 80%;
    }
    .contact-ways {
        text-align: center;
        margin-bottom: 10px;
    }
    .contact-2-line {
        border-top: 2px solid $color-three;
        width: 40%;
        margin: 20px auto;
    }
    .contact-details {
        text-align: center;
        width: 100%;
    }
    // BLOG PAGE
    .blog-h3 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
    .blog-info-container {
        flex-direction: column;
    }
    .blog-resize-container {
        display: flex;
        justify-content: flex-start;
        padding-left: 70px;
        margin-left: 0;
        width: 90%;
    }
    .blog-resize h4,
    .blog-resize p{
        font-size: 0.7rem;
    }
    .comments {
        width: 80%;
        padding: 10px;
    }
    .arrow-left img {
        width: 10%;
        height: 10%;
    }
}
@media (max-width:600px) {
    // HOME PAGE
    .nav-container h1 {
        font-size: 1.5rem;
    }
    .nav-two i {
        font-size: 1rem;
    }
    .image-container-home img[src="./assets/home-2.jpeg"] {
        right:50px;
    }
    .image-container-home img[src="./assets/home-circle-text.png"] {
        bottom:100px;
    }
    .list i {
        font-size:1rem;
        height:50%;
    }
    .list-container h2 {
        font-size: 0.7rem;
    }

    // CONTACT PAGE 
    .contact-form-info {
        display: flex;
        flex-direction: column;
    }
    .contact-form-info input {
        width: 80%;
        text-align: center;
        margin: 20px auto;
    }
    textarea {
        text-align: center;
    }
    .contact-button {
        margin: 30px auto;
    }
    section.contact-3 {
        padding:0;
    }
    // BLOG PAGE
    .blog-h2 {
        font-size: 1rem;
    }
    .blog-resize-container {
        padding-left: 0;
    }
}