$color-one: #333333;
$color-two: #FFFFFF;
$color-three: #F6F6F6;
$color-four: #C3DAB7;
.nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav-one,
.nav-two,
.nav-text {
    display:flex;
    width: 100%;
}
.nav-two,
.nav-text {
    justify-content: flex-end;
}
nav li {
    margin: 20px 10px;
}
nav li:hover,
nav li:active {
    border-bottom: 2px solid $color-four;
    font-weight: 700;
}
nav a {
    color: $color-one;
}
nav i {
    font-size: 1.2rem;
}
.shopping-cart-item {
    display: flex;
    position: relative;
    right: 20px;
    top: 15px;
}
.shopping-cart-item i {
    color:$color-four;
}
.shopping-cart-item p {
    color: $color-one;
    z-index: 1;
    position: relative;
    right: 16px;
    top: 3px;
}
#mobile-button {
    background-color: $color-two;
    border: none;
    margin-right: 10px;
}
#mobile-button,
.mobile-nav {
    display:none;
}
.mobile-ul {
    text-align: left;
    background-color: rgba(246,246,246);
}
.show {
    display: block;
}