// GENERAL
* {
    margin: 0;
    padding: 0; 
}

.wrapper {
    width: 85%;
    max-width: 1080px;
    margin: 0 auto;
}
header {
    
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}