$color-one: #333333;
$color-two: #FFFFFF;
$color-three: #F6F6F6;
$color-four: #C3DAB7;

@import "partials/setup.scss";
@import "partials/typography.scss";
@import "partials/general.scss";

nav {
    display:inline-flex;
    justify-content: space-between;
}
.nav-one,
.nav-two {
    display:flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: $color-one;
}