$color-one: #333333;
$color-two: #FFFFFF;
$color-three: #F6F6F6;
$color-four: #C3DAB7;

@import "partials/setup.scss";
@import "partials/typography.scss";
@import "partials/general.scss";
@import "partials/navigations.scss";
@import "partials/footer.scss";
@import "partials/blog.scss";
@import "partials/contact.scss";
@import "partials/home.scss";
@import "partials/media.scss";




