nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav-one,
.nav-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #333333;
}

nav i {
  font-size: 1rem;
}