@media (max-width: 1500px) {
  section.section-home-3 {
    background-image: none;
  }

  section.section-home-3 img {
    display: block;
  }

  div.list-wrapper {
    width: 100%;
    margin: 50px 10px;
  }

  div.section-5-text button {
    width: 30%;
    margin-bottom: 60px;
  }
}
@media (max-width: 1000px) {
  div.twitter-w input[type=email] {
    padding: 10px 10px;
  }

  div.footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  div.footer-contact,
div.footer-recent-p,
div.twitter-w {
    margin-bottom: 30px;
  }

  div.footer-contact,
div.footer-recent-p li,
div.twitter-w h2,
div.twitter-w p {
    text-align: center;
  }

  div.footer-recent-p ul {
    list-style: none;
  }

  div.social ul {
    width: 50%;
    margin: 10px auto;
  }
}
@media (max-width: 850px) {
  section {
    padding: 40px 0;
  }

  i.fa-bars {
    display: inline-block;
  }

  nav ul {
    width: 100%;
  }

  ul.nav-one,
div.nav-text {
    display: none;
  }

  div.line-container {
    display: none;
  }

  .image-container-home img[src="./assets/home-circle-text.png"] {
    bottom: 150px;
  }

  ul.home-section-2-container li {
    margin: 0 30px;
  }

  span.half-line {
    border-top: 1px solid rgba(51, 51, 51, 0.3);
    height: 0;
    width: 80px;
  }

  div.team-container li {
    width: calc(100% / 3.5 - 2px);
  }

  div.team-container li:first-of-type {
    width: 90%;
    padding: 50px 10px 30px 0px;
  }

  div.home-portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  div.section-5-text,
div.home-portfolio img {
    width: 100%;
  }

  div.section-5-text {
    margin-top: 60px;
  }

  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  div.contact-ways {
    text-align: center;
    margin-bottom: 10px;
  }

  span.contact-2-line {
    border-top: 2px solid #F6F6F6;
    width: 40%;
    margin: 20px auto;
  }

  div.contact-details {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .nav-container h1 {
    font-size: 1.5rem;
  }

  .nav-two i {
    font-size: 1rem;
  }

  div.image-container-home img[src="./assets/home-2.jpeg"] {
    right: 50px;
  }

  .image-container-home img[src="./assets/home-circle-text.png"] {
    bottom: 100px;
  }

  div.list i {
    font-size: 1rem;
    height: 50%;
  }

  .list-container h2 {
    font-size: 0.7rem;
  }

  div.contact-form-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  div.contact-form-info input {
    width: 80%;
    text-align: center;
    margin: 20px auto;
  }

  textarea {
    text-align: center;
  }

  button.contact-button {
    margin: 30px auto;
  }

  section.contact-3 {
    padding: 0;
  }
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: 0 0;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

a, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html {
  font-size: 125%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 37px;
  letter-spacing: 0.9px;
}

h1, button {
  font-weight: 700;
}

li, a, button {
  font-size: 14px;
}

h3 {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1.8px;
}

h2, h3, button {
  line-height: 24px;
}

h2 {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-size: 1rem;
}

h4 {
  font-weight: 400;
  font-size: 0.8rem;
}

button {
  letter-spacing: 0.7px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 14px;
}

a {
  letter-spacing: 0.3px;
}

.contact-details h2,
.contact-form h2 {
  font-weight: 700;
}

.contact-h3 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: normal;
}

.contact-ways h4 {
  font-size: 0.7rem;
  font-weight: 700;
}

.contact-ways a {
  text-transform: capitalize;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  margin: 10px;
}

h4 {
  padding: 20px 0;
}

img {
  display: block;
  max-width: 100%;
}

section {
  padding: 80px 0;
}

p {
  color: rgba(51, 51, 51, 0.3);
}

.fa-bars {
  display: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav-one,
.nav-two,
.nav-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.nav-two,
.nav-text {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav li {
  margin: 20px 10px;
}

nav a {
  color: #333333;
}

nav i {
  font-size: 1.2rem;
}

.shopping-cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 20px;
  top: 15px;
}

.shopping-cart-item i {
  color: #C3DAB7;
}

.shopping-cart-item p {
  color: #333333;
  z-index: 1;
  position: relative;
  right: 16px;
  top: 3px;
}

footer {
  background-color: #333333;
}

.footer-section {
  border-bottom: 1px solid rgba(246, 246, 246, 0.3);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer h2,
.footer a,
.footer p,
.social {
  color: #FFFFFF;
}

.footer-contact h2 {
  margin: 10px 10px 30px 0;
}

.footer-contact {
  text-align: left;
}

.footer-contact li {
  padding: 5px 0;
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  margin-top: 30px;
}

.footer-recent-p h2 {
  margin: 10px 10px 30px 10px;
}

.footer-recent-p ul {
  list-style: disc;
  color: #FFFFFF;
}

.footer-recent-p li {
  text-align: left;
  padding: 5px;
}

.twitter-w h2 {
  text-align: right;
  margin: 10px 0px 30px 10px;
}

.twitter-w li {
  padding: 5px;
}

.footer-form {
  padding: 20px 0 20px 20px;
}

.twitter-w input[type=email] {
  color: rgba(51, 51, 51, 0.7);
  display: inline-block;
  padding: 10px 15px;
  font-size: 0.7rem;
  border-radius: 0;
  border: 1px solid transparent;
}

.twitter-w button {
  display: inline-block;
  padding: 7px 15px;
  font-size: 0.7rem;
  border-radius: 0;
  background-color: #C3DAB7;
  border: 1px solid transparent;
}

.twitter-w button::-moz-focus-inner {
  border: 0;
}

footer h4 {
  color: #FFFFFF;
}

.home-header {
  background-image: url(../assets/home-1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.line-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 105vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

span.line {
  display: block;
  height: 140px;
  border-left: 1px solid rgba(51, 51, 51, 0.3);
}

.section-home-1 {
  background-color: #C3DAB7;
}

.image-container-home {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px auto;
}

img[src="./assets/home-circle-text.png"] {
  position: relative;
  z-index: 1;
  width: 25%;
  bottom: 220px;
}

img[src="./assets/home-2.jpeg"] {
  width: 100%;
  position: relative;
  right: 100px;
}

.section-home-1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-home-1-text p {
  color: #333333;
}

.home-section-2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.home-section-2-container li {
  margin: 0 100px;
}

.home-section-2-container i {
  font-size: 1.5rem;
}

.fa-chevron-right {
  color: rgba(51, 51, 51, 0.5);
}

.home-section-2-container img {
  border-radius: 50%;
}

.home-section-2 p {
  width: 60%;
  margin: 0 auto;
}

.section-home-3 {
  background-image: url(../assets/home-4.jpeg);
}

.section-home-3 img {
  display: none;
}

.section-3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 200px 10px 50px 0;
}

.list {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
}

.list-container {
  width: 70%;
}

.list i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #333333;
  border-radius: 50%;
  font-size: 1.5rem;
  height: 100%;
}

.icon-circle {
  width: 15%;
  height: 60px;
  padding-right: 15px;
}

.section-four {
  padding: 0 0 80px 0;
}

.section-four h3 {
  margin-top: 50px;
}

.section-4-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.half-line {
  border-left: 1px solid rgba(51, 51, 51, 0.3);
  height: 80px;
  display: block;
}

.team-container {
  margin-top: 80px;
}

.team-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team-container li {
  width: calc(100% / 5 - 2px);
  margin: 10px;
}

.team-container li:first-of-type {
  text-align: left;
  width: 40%;
  background-color: #F6F6F6;
  padding: 50px 10px 30px 10px;
}

.team-container li:last-of-type {
  -ms-flex-item-align: center;
      align-self: center;
}

.team-container li:last-of-type h4 {
  width: 70%;
  margin: 0 auto;
}

.section-home-5 {
  background-color: #C3DAB7;
  padding: 0;
}

.home-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-5-text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-5-text p {
  width: 70%;
  margin: 50px 0;
}

.section-5-text button {
  background-color: #FFFFFF;
  border: none;
  text-transform: uppercase;
  width: 20%;
  padding: 10px 0;
}

.home-portfolio img {
  width: 50%;
}

.contact-1 {
  background: url(../assets/contact-1.jpeg);
  background-size: cover;
}

.contact-line-top {
  border-top: 3px solid #333333;
  display: block;
  width: 40px;
  position: relative;
  top: 80px;
}

.contact-h3 {
  text-align: left;
}

.contact-h3-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 25%;
  position: relative;
  top: 110px;
}

.contact-details {
  text-align: left;
  width: 50%;
}

.contact-details h2,
.contact-form h2 {
  margin: 10px 10px 10px 0;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 60px 0;
}

.contact-ways {
  text-align: left;
}

.contact-ways li {
  padding: 5px 0;
}

.contact-ways i {
  font-size: 1.5rem;
}

.contact-ways a {
  color: rgba(51, 51, 51, 0.5);
}

.contact-2,
.contact-3 {
  padding-bottom: 0;
}

.contact-2-line {
  display: block;
  border-left: 2px solid #F6F6F6;
  height: 100%;
}

.email a {
  text-transform: lowercase;
}

.contact-form {
  text-align: left;
}

.form-contact {
  text-align: center;
  color: rgba(51, 51, 51, 0.7);
  margin-top: 100px;
}

.contact-form-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-form-info input {
  font-size: 0.7rem;
  width: 30%;
}

.contact-form-info input[type=email] {
  color: black;
  border-bottom: 2px solid black;
}

.contact-form-info input,
textarea {
  border-color: transparent;
  border-bottom: 2px solid #F6F6F6;
}

textarea {
  margin-top: 30px;
  width: 100%;
  resize: none;
  font-size: 0.7rem;
}

.contact-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  background: none;
  color: #333333;
  border-color: transparent;
  border-bottom: 2px solid rgba(51, 51, 51, 0.5);
  margin: 40px 0;
}